.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  padding-left: 16px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.desktop3 {
  width: 1516px;
  height: 1155px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 60px;
  background: rgba(7, 21, 42, 1);
}
.image117 {
  width: 1600px;
  height: 1200px;
  display: block;
  position: absolute;
  top: -1282px;
  left: -1585px;
}
.rectangle1390 {
  width: 128px;
  height: 47px;
  display: block;
  position: absolute;
  top: 70px;
  left: 1603px;
  background: rgba(241, 148, 148, 1);
}
.box__qBtM {
  display: block;
  font-size: 20px;
  font-family: "Mark-Regular";
  font-weight: 400;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7.5%;
  left: 63.38%;
}
.box__ubK {
  display: block;
  font-size: 20px;
  font-family: "Mark-Regular";
  font-weight: 400;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7.5%;
  left: 69.06%;
}
.box__dG02 {
  display: block;
  font-size: 20px;
  font-family: "Mark-Regular";
  font-weight: 400;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7.5%;
  left: 78.07%;
}
.box__y50Ji {
  display: block;
  font-size: 18px;
  font-family: "Mark-Regular";
  font-weight: 400;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 7.5%;
  left: 84.68%;
}
.svg {
  position: absolute;
  object-fit: cover;
  width: 43px;
  height: 56px;
  color: #fff;
  display: block;
  top: 5.55%;
  left: 44.06%;
}
.smartwatch {
  display: block;
  font-size: 100px;
  font-family: "Mark-Heavy";
  font-weight: 900;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 21.38%;
  left: 10.52%;
}
.loremIpsumDolorSitAmetConsecteturAdipiscingElitAliquamCongueSedEtLeoDignissimOdioJusto {
  display: block;
  font-size: 20px;
  text-align: justify;
  font-family: "Mark-Regular";
  font-weight: 400;
  letter-spacing: 0em;
  color: rgba(215, 215, 215, 1);
  position: absolute;
  top: 41.66%;
  left: 10.52%;
  width: 27.7%;
}
.box__jPzms {
  display: block;
  font-size: 30px;
  font-family: "Mark-Regular";
  font-weight: 400;
  letter-spacing: 0.5em;
  color: rgba(238, 156, 156, 1);
  position: absolute;
  top: 358px;
  left: 202px;
}
.smartwaatch5 {
  width: 966px;
  height: 929px;
  display: block;
  position: absolute;
  top: 125px;
  left: 861px;
  background: url("/plasmic/copy_of_copy_of_simple_light_landing_page/images/smartwaatch5.png") center center / cover no-repeat padding-box
    border-box scroll;
}
.rectangle1394 {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  width: 306px;
  height: 372px;
  display: block;
  position: absolute;
  top: 590px;
  left: 140px;
  border-radius: 41px;
  background: rgba(42, 52, 67, 1);
}
.white {
  display: block;
  font-size: 40px;
  font-family: "Mark-Heavy";
  font-weight: 900;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 56.2%;
  left: 11.56%;
}
.box___4OkRx {
  display: block;
  font-size: 20px;
  font-family: "Mark-Thin";
  font-weight: 100;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 60%;
  left: 14.79%;
}
.blanco1 {
  width: 299px;
  height: 299px;
  display: block;
  position: absolute;
  top: 667px;
  left: 144px;
  background: url("/plasmic/copy_of_copy_of_simple_light_landing_page/images/blanco1.png") center center / cover no-repeat
    padding-box border-box scroll;
}
.rectangle1395 {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  width: 306px;
  height: 372px;
  display: block;
  position: absolute;
  top: 590px;
  left: 485px;
  border-radius: 41px;
  background: rgba(42, 52, 67, 1);
}
.box__eRo2N {
  display: block;
  font-size: 40px;
  font-family: "Mark-Heavy";
  font-weight: 900;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 56.2%;
  left: 31.04%;
}
.box__kDxZl {
  display: block;
  font-size: 20px;
  font-family: "Mark-Thin";
  font-weight: 100;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 60%;
  left: 32.76%;
}
.dark1 {
  width: 293px;
  height: 293px;
  display: block;
  position: absolute;
  top: 668px;
  left: 509px;
  background: url("/plasmic/copy_of_copy_of_simple_light_landing_page/images/dark1.png") center center / cover no-repeat
    padding-box border-box scroll;
}
.rectangle1396 {
  overflow: hidden;
  width: 205px;
  height: 415px;
  display: block;
  position: absolute;
  top: 565px;
  left: 0px;
  background: rgba(195, 195, 195, 1);
}
.rectangle13952 {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  width: 306px;
  height: 372px;
  display: block;
  position: absolute;
  top: 590px;
  left: -196px;
  border-radius: 41px;
  background: rgba(43, 53, 67, 1);
}
.smartwaatch52 {
  width: 330px;
  height: 330px;
  display: block;
  position: absolute;
  top: 636px;
  left: -203px;
  background: url("/plasmic/copy_of_copy_of_simple_light_landing_page/images/smartwaatch5.png") center center / cover no-repeat padding-box
    border-box scroll;
}
