.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box__fEx1D {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: 5u3RyxAtAP0w1Z */;
}
.box__arTr7 {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__arTr7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.box__arTr7 > :global(.__wab_flex-container) > *,
.box__arTr7 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__arTr7 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__arTr7 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__arTr7 > :global(.__wab_flex-container) > *,
  .box__arTr7 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__gCzhY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.box__gCzhY > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__gCzhY > :global(.__wab_flex-container) > *,
.box__gCzhY > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.iconLink__eUnCd:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___00Wuy {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.box__aYxXv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__zQ8N {
  color: #535353 /* plasmic-token: YyDbWIvMIylYDN */;
}
.root .link__zQ8N:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__cEom0 {
  position: relative;
}
.link__f9CQc {
  position: relative;
  color: #535353 /* plasmic-token: YyDbWIvMIylYDN */;
}
.root .link__f9CQc:hover {
  text-decoration-line: underline;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box___4YwP4 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box___4YwP4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.box___4YwP4 > :global(.__wab_flex-container) > *,
.box___4YwP4 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___4YwP4 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___4YwP4 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box___4YwP4 > :global(.__wab_flex-container) > *,
  .box___4YwP4 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.box__vajgK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__vajgK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__vajgK > :global(.__wab_flex-container) > *,
.box__vajgK > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box___7SxFe {
  position: relative;
  font-weight: 700;
}
.link___6U0Jl {
  position: relative;
  color: #535353 /* plasmic-token: YyDbWIvMIylYDN */;
}
.root .link___6U0Jl:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__eKAj {
  position: relative;
  color: #535353 /* plasmic-token: YyDbWIvMIylYDN */;
}
.root .link__eKAj:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__wXNsM {
  position: relative;
  color: #535353 /* plasmic-token: YyDbWIvMIylYDN */;
}
.root .link__wXNsM:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__i7Iuc {
  position: relative;
  color: #535353 /* plasmic-token: YyDbWIvMIylYDN */;
}
.root .link__i7Iuc:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___5XlWg {
  position: relative;
  color: #535353 /* plasmic-token: YyDbWIvMIylYDN */;
}
.root .link___5XlWg:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__fj2T6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__fj2T6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__fj2T6 > :global(.__wab_flex-container) > *,
.box__fj2T6 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__aiK8 {
  position: relative;
  font-weight: 700;
}
.link__aOvFx {
  position: relative;
  color: #535353 /* plasmic-token: YyDbWIvMIylYDN */;
}
.root .link__aOvFx:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__eo0P {
  position: relative;
  color: #535353 /* plasmic-token: YyDbWIvMIylYDN */;
}
.root .link__eo0P:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__kiTnB {
  position: relative;
  color: #535353 /* plasmic-token: YyDbWIvMIylYDN */;
}
.root .link__kiTnB:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__f4M {
  position: relative;
  color: #535353 /* plasmic-token: YyDbWIvMIylYDN */;
}
.root .link__f4M:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__kiZ5H {
  position: relative;
  color: #535353 /* plasmic-token: YyDbWIvMIylYDN */;
}
.root .link__kiZ5H:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__p0HM5 {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.box__p0HM5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__p0HM5 > :global(.__wab_flex-container) > *,
.box__p0HM5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box__yGBt {
  position: relative;
  font-weight: 700;
}
.link__unoq0 {
  position: relative;
  color: #535353 /* plasmic-token: YyDbWIvMIylYDN */;
}
.root .link__unoq0:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__nLLxx {
  position: relative;
  color: #535353 /* plasmic-token: YyDbWIvMIylYDN */;
}
.root .link__nLLxx:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link___0FgBb {
  position: relative;
  color: #535353 /* plasmic-token: YyDbWIvMIylYDN */;
}
.root .link___0FgBb:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__aanzv {
  position: relative;
  color: #535353 /* plasmic-token: YyDbWIvMIylYDN */;
}
.root .link__aanzv:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.link__anwJj {
  position: relative;
  color: #535353 /* plasmic-token: YyDbWIvMIylYDN */;
}
.root .link__anwJj:hover {
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
}
.box__sO0QT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.box__sO0QT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 3px);
  height: calc(100% + 3px);
}
.box__sO0QT > :global(.__wab_flex-container) > *,
.box__sO0QT > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 3px;
}
.box___4Rsl4 {
  position: relative;
  font-weight: 700;
}
.box__hY7Mf {
  position: relative;
}
.box__vx7Xc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  border-radius: 5px;
  border: 1px solid rgb(228, 230, 235) /* plasmic-token: 4QM1pZKqI */;
}
.textbox {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  min-width: 0;
  border-width: 0px;
}
.button {
  position: relative;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 1px;
  border-left-style: solid;
}
.box__yqge7 {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: 5u3RyxAtAP0w1Z */;
}
.box__lx7T {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__lx7T {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__lx7T > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .box__lx7T > :global(.__wab_flex-container) > *,
  .box__lx7T > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.box__owrLs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link___204Ag {
  position: relative;
  color: #535353 /* plasmic-token: YyDbWIvMIylYDN */;
  height: auto;
}
.root .link___204Ag:hover {
  text-decoration-line: underline;
}
.link__oHwL {
  position: relative;
  color: #535353 /* plasmic-token: YyDbWIvMIylYDN */;
}
.root .link__oHwL:hover {
  text-decoration-line: underline;
}
.box__ypbja {
  position: relative;
  height: auto;
  width: auto;
  display: inline-block;
}
.box__a6TA {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__a6TA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__a6TA > :global(.__wab_flex-container) > *,
.box__a6TA > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.iconLink___4P3M9:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ktYv7 {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__ktYv7:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__jFkYi:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__nrkW8 {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__nrkW8:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
.iconLink__i8Fya:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__kwSbb {
  position: relative;
  object-fit: cover;
  color: rgb(101, 103, 107) /* plasmic-token: vaTuh5tFL3B */;
  width: 32px;
  height: 32px;
}
.root .svg__kwSbb:hover {
  color: rgb(24, 25, 26) /* plasmic-token: dph1wZ7NjV9 */;
}
